[Desktop Entry]
Name=Game Template
Comment=Game Template
Exec=start.sh %U
Icon=org.dev.Name
StartupNotify=true
Terminal=true
Type=Application
MimeType=application/x-ms-dos-executable;application/x-msi;application/x-ms-shortcut;
Categories=
Keywords=
